In [1]:
import numpy as np
import pandas as pd
import random as rd
from collections import defaultdict
%pylab inline

Populating the interactive namespace from numpy and matplotlib

## Load Data

In [2]:
train = pd.read_csv('data/train.csv')
train = train.set_index('ID')

/Users/zach/anaconda/lib/python2.7/site-packages/pandas/io/parsers.py:1170: DtypeWarning: Columns (8,9,10,11,12,43,157,196,214,225,228,229,231,235,238) have mixed types. Specify dtype option on import or set low_memory=False.
  data = self._reader.read(nrows)

Get a sample to play with if we need it

In [3]:
samp = train.loc[rd.sample(train.index, 5000)]

## EDA

In [4]:
# Variable types
vartypes = train.dtypes

# Divide into categories
cat_df = train.loc[:, vartypes[vartypes=='O'].index]
int_df = train.loc[:, vartypes[vartypes=='int64'].index]
float_df = train.loc[:, vartypes[vartypes=='float64'].index]

### Categorical

The first thing we need to do is make a summary of all the categorical variables, so that we can figure out how to process them. Things I would like to look at:
- Number of unique values
- Frequency of top value
- Top Item
- Number of missing values
- First few examples
- Spread of target frequencies

In [6]:
from proc_functions import get_summary

# Replace nans
cat_df = cat_df.replace(np.nan, 'NA')

# Summarise each categorical variable
cat_df.apply(lambda col: get_summary(col, train['target'])).T

,Examples,Fraction Missing,Freq Range,NumUnique,Top Freq,Top Item
VAR_0001,"H, R, Q",0,0.06985867,3,0.5845377,R
VAR_0005,"C, B, N, S",0,0.117376,4,0.491968,B
VAR_0008,"False, NA",0,0.000404069,2,0.9996144,False
VAR_0009,"False, NA",0,0.000404069,2,0.9996144,False
VAR_0010,"False, NA",0,0.000404069,2,0.9996144,False
VAR_0011,"False, NA",0,0.000404069,2,0.9996144,False
VAR_0012,"False, NA",0,0.000404069,2,0.9996144,False
VAR_0043,"False, NA",0,0.000404069,2,0.9996144,False
VAR_0044,"[], NA",0,0.000404069,2,0.9996144,[]
VAR_0073,"NA, 04SEP12:00:00:00, 26JAN12:00:00:00, 18SEP1...",0,1,1459,0.6963183,NA
VAR_0075,"08NOV11:00:00:00, 10NOV11:00:00:00, 13DEC11:00...",0,1,2372,0.00804236,22SEP10:00:00:00
VAR_0156,"NA, 14JUL11:00:00:00, 21NOV11:00:00:00, 13APR1...",0,1,731,0.9595816,NA
VAR_0157,"NA, 05JUL12:00:00:00, 05JUN11:00:00:00, 26MAY1...",0,1,425,0.9936653,NA
VAR_0158,"NA, 31JAN12:00:00:00, 01MAR12:00:00:00, 02JAN1...",0,1,408,0.985616,NA
VAR_0159,"NA, 14JUL11:00:00:00, 21NOV11:00:00:00, 13APR1...",0,1,651,0.9595816,NA
VAR_0166,"NA, 12MAR12:00:00:00, 25FEB12:00:00:00, 22DEC1...",0,1,2146,0.9020182,NA
VAR_0167,"NA, 09JUN12:00:00:00, 21MAY12:00:00:00, 07AUG1...",0,1,854,0.9823247,NA
VAR_0168,"NA, 22MAR12:00:00:00, 26JAN12:00:00:00, 22AUG1...",0,1,1646,0.9261521,NA
VAR_0169,"NA, 12MAR12:00:00:00, 25FEB12:00:00:00, 13JAN1...",0,1,1909,0.9020182,NA
VAR_0176,"NA, 12MAR12:00:00:00, 25FEB12:00:00:00, 14JUL1...",0,1,2164,0.879282,NA
VAR_0177,"NA, 09JUN12:00:00:00, 05JUL12:00:00:00, 21MAY1...",0,1,946,0.9768782,NA
VAR_0178,"NA, 22MAR12:00:00:00, 26JAN12:00:00:00, 22AUG1...",0,1,1649,0.9168704,NA
VAR_0179,"NA, 12MAR12:00:00:00, 25FEB12:00:00:00, 14JUL1...",0,1,1876,0.879282,NA
VAR_0196,"False, NA",0,0.000404069,2,0.9996144,False
VAR_0200,"FT LAUDERDALE, SANTEE, REEDSVILLE, LIBERTY, FR...",0,1,12386,0.01439775,CHICAGO
VAR_0202,"BatchInquiry, NA",0,0.000404069,2,0.9996144,BatchInquiry
VAR_0204,"29JAN14:21:16:00, 01FEB14:00:11:00, 30JAN14:15...",0,1,1193,0.001666311,31JAN14:15:54:00
VAR_0214,"NA, HRE-Home Phone-0621, HRE-Social Security N...",0,1,13,0.9999174,NA
VAR_0216,"DS, NA",0,0.000404069,2,0.9996144,DS
VAR_0217,"08NOV11:02:00:00, 02OCT12:02:00:00, 13DEC11:02...",0,0.2781955,398,0.006148825,06DEC11:02:00:00
VAR_0222,"C6, NA",0,0.000404069,2,0.9996144,C6
VAR_0226,"False, True, NA",0,0.05688441,3,0.9963644,False
VAR_0229,"False, NA",0,0.000404069,2,0.9996144,False
VAR_0230,"False, True, NA",0,0.001775272,3,0.998437,False
VAR_0232,"True, False, NA",0,0.1649454,3,0.5654302,True
VAR_0236,"True, False, NA",0,0.03630944,3,0.9973697,True
VAR_0237,"FL, CA, WV, TX, IL, OR, GA, PA, TN, WA, VA, KY...",0,1,46,0.1085856,CA
VAR_0239,"False, NA",0,0.000404069,2,0.9996144,False
VAR_0274,"FL, MI, WV, TX, IL, ME, CA, SC, PA, TN, GA, VA...",0,0.3133641,58,0.1119458,CA
VAR_0283,"S, H, -1, P, NA, R, F, U",0,0.1101717,8,0.7822503,S
VAR_0305,"S, P, H, -1, NA, R, U, M, F",0,0.3148148,9,0.7493579,S
VAR_0325,"-1, H, R, S, P, NA, F, M, G, U",0,0.1631788,10,0.6186145,S
VAR_0342,"CF, EC, UU, -1, FE, DC, FF, EE, BC, EF, FD, ED...",0,0.5714286,51,0.2132396,-1
VAR_0352,"O, R, U, -1, NA",0,0.07521753,5,0.411806,U
VAR_0353,"U, R, O, -1, NA",0,0.02708368,5,0.4822042,U
VAR_0354,"O, R, -1, U, NA",0,0.04569271,5,0.4698859,U
VAR_0404,"CHIEF EXECUTIVE OFFICER, -1, CONTA, CONTACT, P...",0,1,1824,0.898176,-1
VAR_0466,"-1, I, NA",0,0.03902627,3,0.8363297,-1
VAR_0467,"-1, Discharged, Dismissed, NA, Discharge NA",0,0.1871272,5,0.8378032,-1
VAR_0493,"COMMUNITY ASSOCIATION MANAGER, -1, LICENSED PR...",0,1,609,0.9308068,-1
VAR_1934,"IAPS, RCC, BRANCH, MOBILE, CSC",0,0.2337299,5,0.4715522,IAPS

Use the above summaries to categorize the variables in the first part of process_categorical.py

#### Dates
Start by converting all dates to the proper format

In [24]:
from process_categorical import convert_all_date_columns

date_df = convert_all_date_columns(train)
date_df.describe().T

,count,unique,top,freq,first,last
VAR_0073,44104,1458,2009-03-13 00:00:00,260,2008-01-02 00:00:00,2012-10-31 00:00:00
VAR_0075,145175,2371,2010-09-22 00:00:00,1168,2001-01-01 00:00:00,2012-11-01 00:00:00
VAR_0156,5870,730,2011-12-12 00:00:00,45,2008-04-11 00:00:00,2012-10-29 00:00:00
VAR_0157,920,424,2012-07-27 00:00:00,8,2008-10-17 00:00:00,2012-10-31 00:00:00
VAR_0158,2089,407,2012-06-01 00:00:00,28,2008-09-30 00:00:00,2012-10-29 00:00:00
VAR_0159,5870,650,2012-06-04 00:00:00,49,2008-09-23 00:00:00,2012-10-29 00:00:00
VAR_0166,14230,2145,2011-12-19 00:00:00,45,2002-07-30 00:00:00,2012-10-30 00:00:00
VAR_0167,2567,853,2011-11-03 00:00:00,27,2005-02-12 00:00:00,2012-10-30 00:00:00
VAR_0168,10725,1645,2011-11-03 00:00:00,206,1999-12-31 00:00:00,2012-11-01 00:00:00
VAR_0169,14230,1908,2011-12-19 00:00:00,48,2002-07-30 00:00:00,2012-11-01 00:00:00
VAR_0176,17532,2163,2011-12-12 00:00:00,67,2002-07-30 00:00:00,2012-10-30 00:00:00
VAR_0177,3358,945,2011-11-03 00:00:00,28,2005-02-12 00:00:00,2012-10-31 00:00:00
VAR_0178,12073,1648,2011-11-03 00:00:00,200,1999-12-31 00:00:00,2012-11-01 00:00:00
VAR_0179,17532,1875,2012-06-04 00:00:00,83,2002-07-30 00:00:00,2012-11-01 00:00:00
VAR_0204,145175,1192,2014-01-31 15:54:00,242,2014-01-29 18:45:00,2014-02-01 01:26:00
VAR_0217,145175,397,2011-12-06 02:00:00,893,2011-10-02 02:00:00,2012-11-01 02:00:00

Now do a little bit of feature engineering on dates
- Take all pairwise differences between dates
- Earliest date record
- Most recent date record
- Number of non-nan date records

In [25]:
# Feature engineering on dates

### Numeric Variables
I think there are not any actual float variables (non-integer) in the data. It looks like features with negative entries (just -1?) are being characterized as floats.

We should verify this, but then everything can be treated the same.

In [26]:
# Verify difference between integer and float

#### Integer
 
- Each integer valued variable needs to be checked to see if it should be treated as categorical or numerical
- It's possible these can all be taken care of, just by using trees
- If mutual information

#### Are all the missing values (99, 999, etc..) in the same spot?

#### Float
- Float variables _should_ be the easiest---they can be taken at face value

Combine models from all three variable types