In [1]:
import numpy as np
import pandas as pd
import random as rd
from collections import defaultdict
%pylab inline

Populating the interactive namespace from numpy and matplotlib

## Load Data

In [2]:
train = pd.read_csv('data/train.csv')
train = train.set_index('ID')

/Users/zach/anaconda/lib/python2.7/site-packages/pandas/io/parsers.py:1170: DtypeWarning: Columns (8,9,10,11,12,43,157,196,214,225,228,229,231,235,238) have mixed types. Specify dtype option on import or set low_memory=False.
  data = self._reader.read(nrows)

Get a sample to play with if we need it

In [3]:
samp = train.loc[rd.sample(train.index, 5000)]

## EDA

In [4]:
# Variable types
vartypes = train.dtypes

# Divide into categories
cat_df = train.loc[:, vartypes[vartypes=='O'].index]
int_df = train.loc[:, vartypes[vartypes=='int64'].index]
float_df = train.loc[:, vartypes[vartypes=='float64'].index]

### Categorical

The first thing we need to do is make a summary of all the categorical variables, so that we can figure out how to process them. Things I would like to look at:
- Number of unique values
- Frequency of top value
- Top Item
- Number of missing values
- First few examples
- Spread of target frequencies

In [5]:
from proc_functions import get_summary

# Replace nans
cat_df = cat_df.replace(np.nan, 'NA')

# Summarise each categorical variable
cat_df.apply(lambda col: get_summary(col, train['target'])).T

,Examples,Fraction Missing,Freq Range,NumUnique,Top Freq,Top Item
VAR_0001,"H, R, Q",0,0.06985867,3,0.5845377,R
VAR_0005,"C, B, N, S",0,0.117376,4,0.491968,B
VAR_0008,"False, NA",0,0.000404069,2,0.9996144,False
VAR_0009,"False, NA",0,0.000404069,2,0.9996144,False
VAR_0010,"False, NA",0,0.000404069,2,0.9996144,False
VAR_0011,"False, NA",0,0.000404069,2,0.9996144,False
VAR_0012,"False, NA",0,0.000404069,2,0.9996144,False
VAR_0043,"False, NA",0,0.000404069,2,0.9996144,False
VAR_0044,"[], NA",0,0.000404069,2,0.9996144,[]
VAR_0073,"NA, 04SEP12:00:00:00, 26JAN12:00:00:00, 18SEP1...",0,1,1459,0.6963183,NA
VAR_0075,"08NOV11:00:00:00, 10NOV11:00:00:00, 13DEC11:00...",0,1,2372,0.00804236,22SEP10:00:00:00
VAR_0156,"NA, 14JUL11:00:00:00, 21NOV11:00:00:00, 13APR1...",0,1,731,0.9595816,NA
VAR_0157,"NA, 05JUL12:00:00:00, 05JUN11:00:00:00, 26MAY1...",0,1,425,0.9936653,NA
VAR_0158,"NA, 31JAN12:00:00:00, 01MAR12:00:00:00, 02JAN1...",0,1,408,0.985616,NA
VAR_0159,"NA, 14JUL11:00:00:00, 21NOV11:00:00:00, 13APR1...",0,1,651,0.9595816,NA
VAR_0166,"NA, 12MAR12:00:00:00, 25FEB12:00:00:00, 22DEC1...",0,1,2146,0.9020182,NA
VAR_0167,"NA, 09JUN12:00:00:00, 21MAY12:00:00:00, 07AUG1...",0,1,854,0.9823247,NA
VAR_0168,"NA, 22MAR12:00:00:00, 26JAN12:00:00:00, 22AUG1...",0,1,1646,0.9261521,NA
VAR_0169,"NA, 12MAR12:00:00:00, 25FEB12:00:00:00, 13JAN1...",0,1,1909,0.9020182,NA
VAR_0176,"NA, 12MAR12:00:00:00, 25FEB12:00:00:00, 14JUL1...",0,1,2164,0.879282,NA
VAR_0177,"NA, 09JUN12:00:00:00, 05JUL12:00:00:00, 21MAY1...",0,1,946,0.9768782,NA
VAR_0178,"NA, 22MAR12:00:00:00, 26JAN12:00:00:00, 22AUG1...",0,1,1649,0.9168704,NA
VAR_0179,"NA, 12MAR12:00:00:00, 25FEB12:00:00:00, 14JUL1...",0,1,1876,0.879282,NA
VAR_0196,"False, NA",0,0.000404069,2,0.9996144,False
VAR_0200,"FT LAUDERDALE, SANTEE, REEDSVILLE, LIBERTY, FR...",0,1,12386,0.01439775,CHICAGO
VAR_0202,"BatchInquiry, NA",0,0.000404069,2,0.9996144,BatchInquiry
VAR_0204,"29JAN14:21:16:00, 01FEB14:00:11:00, 30JAN14:15...",0,1,1193,0.001666311,31JAN14:15:54:00
VAR_0214,"NA, HRE-Home Phone-0621, HRE-Social Security N...",0,1,13,0.9999174,NA
VAR_0216,"DS, NA",0,0.000404069,2,0.9996144,DS
VAR_0217,"08NOV11:02:00:00, 02OCT12:02:00:00, 13DEC11:02...",0,0.2781955,398,0.006148825,06DEC11:02:00:00
VAR_0222,"C6, NA",0,0.000404069,2,0.9996144,C6
VAR_0226,"False, True, NA",0,0.05688441,3,0.9963644,False
VAR_0229,"False, NA",0,0.000404069,2,0.9996144,False
VAR_0230,"False, True, NA",0,0.001775272,3,0.998437,False
VAR_0232,"True, False, NA",0,0.1649454,3,0.5654302,True
VAR_0236,"True, False, NA",0,0.03630944,3,0.9973697,True
VAR_0237,"FL, CA, WV, TX, IL, OR, GA, PA, TN, WA, VA, KY...",0,1,46,0.1085856,CA
VAR_0239,"False, NA",0,0.000404069,2,0.9996144,False
VAR_0274,"FL, MI, WV, TX, IL, ME, CA, SC, PA, TN, GA, VA...",0,0.3133641,58,0.1119458,CA
VAR_0283,"S, H, -1, P, NA, R, F, U",0,0.1101717,8,0.7822503,S
VAR_0305,"S, P, H, -1, NA, R, U, M, F",0,0.3148148,9,0.7493579,S
VAR_0325,"-1, H, R, S, P, NA, F, M, G, U",0,0.1631788,10,0.6186145,S
VAR_0342,"CF, EC, UU, -1, FE, DC, FF, EE, BC, EF, FD, ED...",0,0.5714286,51,0.2132396,-1
VAR_0352,"O, R, U, -1, NA",0,0.07521753,5,0.411806,U
VAR_0353,"U, R, O, -1, NA",0,0.02708368,5,0.4822042,U
VAR_0354,"O, R, -1, U, NA",0,0.04569271,5,0.4698859,U
VAR_0404,"CHIEF EXECUTIVE OFFICER, -1, CONTA, CONTACT, P...",0,1,1824,0.898176,-1
VAR_0466,"-1, I, NA",0,0.03902627,3,0.8363297,-1
VAR_0467,"-1, Discharged, Dismissed, NA, Discharge NA",0,0.1871272,5,0.8378032,-1
VAR_0493,"COMMUNITY ASSOCIATION MANAGER, -1, LICENSED PR...",0,1,609,0.9308068,-1
VAR_1934,"IAPS, RCC, BRANCH, MOBILE, CSC",0,0.2337299,5,0.4715522,IAPS

Use the above summaries to categorize the variables in the first part of process_categorical.py

#### Dates
Start by converting all dates to the proper format

In [6]:
from process_categorical import convert_all_date_columns

date_df = convert_all_date_columns(train)
date_df.describe().T

,count,unique,top,freq,first,last
VAR_0073,44104,1458,2009-03-13 00:00:00,260,2008-01-02 00:00:00,2012-10-31 00:00:00
VAR_0075,145175,2371,2010-09-22 00:00:00,1168,2001-01-01 00:00:00,2012-11-01 00:00:00
VAR_0156,5870,730,2011-12-12 00:00:00,45,2008-04-11 00:00:00,2012-10-29 00:00:00
VAR_0157,920,424,2012-07-27 00:00:00,8,2008-10-17 00:00:00,2012-10-31 00:00:00
VAR_0158,2089,407,2012-06-01 00:00:00,28,2008-09-30 00:00:00,2012-10-29 00:00:00
VAR_0159,5870,650,2012-06-04 00:00:00,49,2008-09-23 00:00:00,2012-10-29 00:00:00
VAR_0166,14230,2145,2011-12-19 00:00:00,45,2002-07-30 00:00:00,2012-10-30 00:00:00
VAR_0167,2567,853,2011-11-03 00:00:00,27,2005-02-12 00:00:00,2012-10-30 00:00:00
VAR_0168,10725,1645,2011-11-03 00:00:00,206,1999-12-31 00:00:00,2012-11-01 00:00:00
VAR_0169,14230,1908,2011-12-19 00:00:00,48,2002-07-30 00:00:00,2012-11-01 00:00:00
VAR_0176,17532,2163,2011-12-12 00:00:00,67,2002-07-30 00:00:00,2012-10-30 00:00:00
VAR_0177,3358,945,2011-11-03 00:00:00,28,2005-02-12 00:00:00,2012-10-31 00:00:00
VAR_0178,12073,1648,2011-11-03 00:00:00,200,1999-12-31 00:00:00,2012-11-01 00:00:00
VAR_0179,17532,1875,2012-06-04 00:00:00,83,2002-07-30 00:00:00,2012-11-01 00:00:00
VAR_0204,145175,1192,2014-01-31 15:54:00,242,2014-01-29 18:45:00,2014-02-01 01:26:00
VAR_0217,145175,397,2011-12-06 02:00:00,893,2011-10-02 02:00:00,2012-11-01 02:00:00

Now do a little bit of feature engineering on dates
- Take all pairwise differences between dates
- Earliest date record
- Most recent date record
- Number of non-nan date records

In [106]:
# Feature engineering on dates
from process_categorical import engineer_dates
diff_df = engineer_dates(date_df)

In [109]:
diff_df.describe().T

,count,mean,std,min,25%,50%,75%,max
VAR_0073-VAR_0075,44104,1 days 23:59:19.947251,505 days 21:33:52.319903,0 days 00:00:00,2 days 00:00:00,222 days 00:00:00,713 days 06:00:00,4281 days 00:00:00
VAR_0073-VAR_0156,5787,-13 days +04:55:22.719694,179 days 20:47:54.450964,-976 days +00:00:00,1 days 00:00:00,50 days 00:00:00,153 days 00:00:00,1488 days 00:00:00
VAR_0073-VAR_0157,901,34 days 19:25:06.326304,170 days 01:03:23.695355,-860 days +00:00:00,-11 days +00:00:00,19 days 00:00:00,56 days 00:00:00,1328 days 00:00:00
VAR_0073-VAR_0158,2043,-2 days +23:14:53.392070,184 days 02:25:14.461456,-1177 days +00:00:00,-61 days +12:00:00,19 days 00:00:00,94 days 00:00:00,1357 days 00:00:00
VAR_0073-VAR_0159,5787,-6 days +10:27:48.692982,146 days 11:25:39.359484,-976 days +00:00:00,0 days 00:00:00,22 days 00:00:00,79 days 00:00:00,1357 days 00:00:00
VAR_0073-VAR_0166,13646,-2 days +22:04:05.344246,583 days 18:45:27.032582,-1428 days +00:00:00,46 days 00:00:00,287 days 00:00:00,822 days 00:00:00,2893 days 00:00:00
VAR_0073-VAR_0167,2532,-27 days +08:36:25.694656,380 days 03:00:44.062032,-649 days +00:00:00,4 days 00:00:00,97 days 12:00:00,329 days 00:00:00,2792 days 00:00:00
VAR_0073-VAR_0168,10252,-2 days +06:12:57.276802,463 days 04:21:50.644763,-1429 days +00:00:00,0 days 00:00:00,98 days 00:00:00,407 days 00:00:00,4619 days 00:00:00
VAR_0073-VAR_0169,13646,-4 days +08:04:42.599072,444 days 01:24:06.607731,-1428 days +00:00:00,3 days 00:00:00,65 days 00:00:00,371 days 00:00:00,2893 days 00:00:00
VAR_0073-VAR_0176,16885,-6 days +23:17:29.796870,554 days 17:18:24.374012,-1428 days +00:00:00,28 days 00:00:00,192 days 00:00:00,689 days 00:00:00,2893 days 00:00:00
VAR_0073-VAR_0177,3295,-17 days +07:34:31.799353,353 days 02:26:29.619146,-860 days +00:00:00,-1 days +00:00:00,50 days 00:00:00,258 days 00:00:00,2792 days 00:00:00
VAR_0073-VAR_0178,11561,-5 days +11:47:15.560547,445 days 18:23:44.882261,-1429 days +00:00:00,-10 days +00:00:00,61 days 00:00:00,298 days 00:00:00,4619 days 00:00:00
VAR_0073-VAR_0179,16885,2 days 18:21:16.669710,396 days 22:39:50.356291,-1428 days +00:00:00,0 days 00:00:00,32 days 00:00:00,182 days 00:00:00,2893 days 00:00:00
VAR_0073-VAR_0204,44104,1 days 07:17:11.103088,315 days 01:31:19.971633,-2222 days +06:10:00,-910 days +02:35:45,-751 days +23:34:30,-598 days +02:42:00,-458 days +00:00:00
VAR_0073-VAR_0217,44104,1 days 10:06:34.334944,297 days 15:10:38.640211,-1742 days +22:00:00,-257 days +22:00:00,-45 days +22:00:00,-3 days +22:00:00,-1 days +22:00:00
VAR_0075-VAR_0073,44104,-2 days +00:00:40.052748,505 days 21:33:52.319903,-4281 days +00:00:00,-714 days +18:00:00,-222 days +00:00:00,-2 days +00:00:00,0 days 00:00:00
VAR_0075-VAR_0156,5870,-11 days +09:55:48.851486,497 days 18:48:57.985276,-2776 days +00:00:00,-765 days +00:00:00,-354 days +00:00:00,-28 days +00:00:00,0 days 00:00:00
VAR_0075-VAR_0157,920,95 days 11:36:26.327313,506 days 14:21:38.196088,-2783 days +00:00:00,-900 days +18:00:00,-504 days +00:00:00,-162 days +00:00:00,-1 days +00:00:00
VAR_0075-VAR_0158,2089,26 days 13:31:56.379112,506 days 12:35:32.641683,-2730 days +00:00:00,-988 days +00:00:00,-592 days +00:00:00,-258 days +00:00:00,0 days 00:00:00
VAR_0075-VAR_0159,5870,-5 days +14:59:30.341676,515 days 04:30:58.746915,-2776 days +00:00:00,-859 days +00:00:00,-439 days +00:00:00,-95 days +00:00:00,0 days 00:00:00
VAR_0075-VAR_0166,14230,4 days 04:13:09.733355,341 days 22:04:55.268956,-3682 days +00:00:00,-342 days +00:00:00,-29 days +00:00:00,0 days 00:00:00,0 days 00:00:00
VAR_0075-VAR_0167,2567,15 days 19:45:15.121140,494 days 12:54:03.475794,-3861 days +00:00:00,-869 days +00:00:00,-435 days +00:00:00,-144 days +00:00:00,-7 days +00:00:00
VAR_0075-VAR_0168,10725,-5 days +10:12:11.262485,493 days 00:19:32.651874,-2736 days +00:00:00,-828 days +00:00:00,-399 days +00:00:00,-157 days +00:00:00,4210 days 00:00:00
VAR_0075-VAR_0169,14230,-8 days +22:25:56.084679,502 days 19:28:11.003779,-3846 days +00:00:00,-754 days +00:00:00,-310 days +00:00:00,-43 days +00:00:00,0 days 00:00:00
VAR_0075-VAR_0176,17532,0 days 12:43:35.183691,348 days 21:29:36.665127,-3682 days +00:00:00,-364 days +00:00:00,-32 days +00:00:00,0 days 00:00:00,0 days 00:00:00
VAR_0075-VAR_0177,3358,-2 days +14:45:01.805653,497 days 13:17:56.539693,-3861 days +00:00:00,-872 days +06:00:00,-447 days +00:00:00,-146 days +18:00:00,-1 days +00:00:00
VAR_0075-VAR_0178,12073,-5 days +10:15:23.439492,495 days 06:51:51.368868,-2736 days +00:00:00,-834 days +00:00:00,-414 days +00:00:00,-161 days +00:00:00,4210 days 00:00:00
VAR_0075-VAR_0179,17532,-1 days +16:48:43.827765,508 days 04:00:41.136235,-3846 days +00:00:00,-774 days +00:00:00,-335 days +00:00:00,-45 days +00:00:00,0 days 00:00:00
VAR_0075-VAR_0204,145175,0 days 10:34:14.954578,427 days 23:32:43.780318,-4780 days +22:59:00,-925 days +06:32:30,-757 days +07:55:00,-598 days +08:41:00,-458 days +23:53:00
VAR_0075-VAR_0217,145175,0 days 13:52:00.208487,423 days 18:02:20.114503,-4314 days +22:00:00,-312 days +22:00:00,-1 days +22:00:00,-1 days +22:00:00,-1 days +22:00:00
...,...,...,...,...,...,...,...,...
VAR_0204-VAR_0073,44104,-2 days +16:42:48.896911,315 days 01:31:19.971633,458 days 00:00:00,597 days 21:18:00,750 days 00:25:30,909 days 21:24:15,2221 days 17:50:00
VAR_0204-VAR_0075,145175,-1 days +13:25:45.045421,427 days 23:32:43.780318,457 days 00:07:00,597 days 15:19:00,756 days 16:05:00,924 days 17:27:30,4779 days 01:01:00
VAR_0204-VAR_0156,5870,-16 days +05:07:33.931582,204 days 05:35:12.263413,460 days 00:07:00,630 days 23:22:00,779 days 16:50:00,885 days 18:57:00,2120 days 23:15:00
VAR_0204-VAR_0157,920,26 days 22:41:07.781381,228 days 04:35:41.002425,458 days 00:13:00,579 days 12:36:45,671 days 21:32:30,803 days 21:07:00,1932 days 16:24:00
VAR_0204-VAR_0158,2089,-11 days +05:20:33.032088,150 days 13:21:30.424487,460 days 00:02:00,623 days 16:42:00,693 days 17:39:00,758 days 21:47:00,1949 days 21:57:00
VAR_0204-VAR_0159,5870,-10 days +10:11:15.421773,170 days 15:21:27.072379,460 days 00:07:00,599 days 16:57:00,686 days 23:22:00,804 days 21:34:15,1956 days 16:24:00
VAR_0204-VAR_0166,14230,3 days 09:58:20.374368,635 days 02:28:15.058051,459 days 00:03:00,800 days 23:36:30,1140 days 07:43:30,1705 days 00:22:00,4201 days 21:48:00
VAR_0204-VAR_0167,2567,-37 days +01:10:42.218732,416 days 19:25:26.031741,459 days 00:00:00,707 days 16:43:30,867 days 22:52:00,1095 days 01:24:00,3275 days 16:11:00
VAR_0204-VAR_0168,10725,7 days 10:51:03.690413,515 days 22:38:30.458177,457 days 00:11:00,720 days 18:09:00,898 days 18:57:00,1259 days 15:04:00,5144 days 22:21:00
VAR_0204-VAR_0169,14230,7 days 04:16:34.489130,528 days 02:25:02.199616,457 days 00:08:00,685 days 20:24:30,858 days 18:45:00,1302 days 20:36:15,4201 days 21:48:00
VAR_0204-VAR_0176,17532,-6 days +04:03:15.502455,615 days 08:01:06.273764,459 days 00:03:00,764 days 16:55:15,941 days 23:09:00,1556 days 04:47:15,4201 days 21:48:00
VAR_0204-VAR_0177,3358,14 days 10:38:54.534861,395 days 17:51:32.968932,458 days 00:13:00,652 days 21:51:30,818 days 18:30:00,1024 days 23:05:30,3275 days 16:11:00
VAR_0204-VAR_0178,12073,-7 days +12:21:16.183620,505 days 01:13:23.000767,457 days 00:11:00,685 days 20:50:00,818 days 21:21:00,1186 days 22:53:00,5144 days 22:21:00
VAR_0204-VAR_0179,17532,5 days 12:24:39.829492,491 days 03:51:55.449703,457 days 00:08:00,639 days 22:13:30,787 days 17:17:00,1019 days 19:42:45,4201 days 21:48:00
VAR_0204-VAR_0217,145175,0 days 03:17:45.253909,118 days 02:28:50.473354,456 days 22:07:00,538 days 16:24:00,622 days 21:05:00,750 days 14:34:00,850 days 16:47:00
VAR_0217-VAR_0073,44104,-2 days +13:53:25.665055,297 days 15:10:38.640211,0 days 02:00:00,2 days 02:00:00,44 days 02:00:00,256 days 02:00:00,1741 days 02:00:00
VAR_0217-VAR_0075,145175,-1 days +10:07:59.791512,423 days 18:02:20.114503,0 days 02:00:00,0 days 02:00:00,0 days 02:00:00,311 days 02:00:00,4313 days 02:00:00
VAR_0217-VAR_0156,5870,-11 days +05:18:58.335852,190 days 17:22:36.969879,1 days 02:00:00,43 days 02:00:00,113 days 02:00:00,242 days 02:00:00,1502 days 02:00:00
VAR_0217-VAR_0157,920,105 days 06:19:49.565217,204 days 02:51:41.346846,0 days 02:00:00,21 days 02:00:00,45 days 02:00:00,89 days 02:00:00,1356 days 02:00:00
VAR_0217-VAR_0158,2089,17 days 14:51:22.013542,136 days 20:41:11.664421,0 days 02:00:00,38 days 02:00:00,85 days 02:00:00,160 days 02:00:00,1436 days 02:00:00
VAR_0217-VAR_0159,5870,-5 days +10:22:39.826042,136 days 17:05:33.121348,1 days 02:00:00,28 days 02:00:00,67 days 02:00:00,134 days 02:00:00,1436 days 02:00:00
VAR_0217-VAR_0166,14230,2 days 11:38:54.833666,630 days 16:46:33.428903,0 days 02:00:00,134 days 02:00:00,474 days 02:00:00,1092 days 20:00:00,3424 days 02:00:00
VAR_0217-VAR_0167,2567,6 days 18:48:05.744122,412 days 08:09:56.483664,-45 days +02:00:00,63 days 02:00:00,229 days 02:00:00,454 days 14:00:00,2793 days 02:00:00
VAR_0217-VAR_0168,10725,-7 days +04:23:35.077359,511 days 05:21:35.422788,-10 days +02:00:00,69 days 02:00:00,260 days 02:00:00,634 days 02:00:00,4638 days 02:00:00
VAR_0217-VAR_0169,14230,6 days 05:57:08.948428,521 days 05:08:58.423499,-32 days +02:00:00,43 days 02:00:00,192 days 02:00:00,661 days 02:00:00,3394 days 02:00:00
VAR_0217-VAR_0176,17532,0 days 19:51:56.293745,607 days 18:53:27.744195,0 days 02:00:00,100 days 02:00:00,331 days 02:00:00,929 days 02:00:00,3424 days 02:00:00
VAR_0217-VAR_0177,3358,29 days 06:23:19.793079,388 days 20:19:54.399997,-45 days +02:00:00,36 days 02:00:00,134 days 02:00:00,383 days 20:00:00,2793 days 02:00:00
VAR_0217-VAR_0178,12073,3 days 22:25:35.457499,494 days 22:25:17.623565,-10 days +02:00:00,53 days 02:00:00,179 days 02:00:00,551 days 02:00:00,4638 days 02:00:00
VAR_0217-VAR_0179,17532,-1 days +23:57:04.937818,478 days 23:38:25.026410,-32 days +02:00:00,31 days 02:00:00,110 days 02:00:00,391 days 02:00:00,3394 days 02:00:00
VAR_0217-VAR_0204,145175,-1 days +20:42:14.746090,118 days 02:28:50.473354,-851 days +07:13:00,-751 days +09:26:00,-623 days +02:55:00,-539 days +07:36:00,-457 days +01:53:00

#### Geography Variables
- We should make a feature regarding whether the two state variables are the same or different
- It's important that this happens before processing 'thin' columns

In [ ]:
# Geography

#### Thin columns
- These columns are sliced too thin to be used as true categories (like categorizing people by social security number)
- Instead, we replace the significant ones with their p-values from a chisq test.
- We need a threshold for which p-values to actually include to avoid fitting accidental proportions (1 in 20 categories will be significant at the 95% level)

In [77]:
# Get features from thinly sliced columns
from process_categorical import convert_all_thin_vars
THRESH = 100
tscore_df = convert_all_thin_vars(train, THRESH, train['target'])

process_categorical.py:69: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Get a p-value for each proportion

In [138]:
d = defaultdict(int, col)

In [140]:
col.head()

ID
2        Other
4        Other
5        Other
7        Other
8    FRANKFORT
Name: VAR_0200, dtype: object

In [179]:
from process_categorical import zscore_convert, var_types
zconv = zscore_convert(thresh = 100)
zconv.fit(train[var_types['thin']], train['target'])
thin_convert_df = zconv.transform(train[var_types['thin']])

In [180]:
thin_convert_df.describe()

,VAR_0200,VAR_0237,VAR_0274,VAR_0342,VAR_0404
count,145231.000000,145231.000000,145231.000000,145231.000000,145231.000000
mean,-2.598308,-0.533740,-0.337783,0.875256,1.060971
std,2.660417,6.610559,5.020041,4.818371,1.010594
min,-5.931612,-13.445297,-11.673988,-7.039453,-3.632704
25%,-4.508292,-5.287099,-3.726071,-3.254337,1.339791
50%,-4.508292,-1.085341,-0.669519,0.884012,1.339791
75%,-0.437341,5.790370,3.289203,3.129548,1.339791
max,5.885018,10.505208,8.365205,9.335687,1.339791

### Numeric Variables
I think there are not any actual float variables (non-integer) in the data. It looks like features with negative entries (just -1?) are being characterized as floats.

We should verify this, but then everything can be treated the same.

In [26]:
# Verify difference between integer and float

#### Integer
 
- Each integer valued variable needs to be checked to see if it should be treated as categorical or numerical
- It's possible these can all be taken care of, just by using trees
- If mutual information and linear correlation tell wildly different stories, then the integer may actually be a category. (For example, zip codes)

#### Are all the missing values (99, 999, etc..) in the same spot?

#### Float
- Float variables _should_ be the easiest---they can be taken at face value

Combine models from all three variable types